<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.majiangcommunity.dao.HotArticleMapper">
    <resultMap id="BaseResultMap" type="com.xu.majiangcommunity.domain.HotArticle">
        <!--@mbg.generated-->
        <!--@Table hot_article-->
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="tittle" jdbcType="VARCHAR" property="tittle"/>
        <result column="weights" jdbcType="BIGINT" property="weights"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        article_id, tittle, weights
    </sql>
    <select id="selectByExample" parameterType="com.xu.majiangcommunity.domain.HotArticleExample"
            resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from hot_article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.xu.majiangcommunity.domain.HotArticleExample">
        <!--@mbg.generated-->
        delete from hot_article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.xu.majiangcommunity.domain.HotArticle">
        <!--@mbg.generated-->
        insert into hot_article (article_id, tittle, weights
        )
        values (#{articleId,jdbcType=INTEGER}, #{tittle,jdbcType=VARCHAR}, #{weights,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.xu.majiangcommunity.domain.HotArticle">
        <!--@mbg.generated-->
        insert into hot_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="tittle != null">
                tittle,
            </if>
            <if test="weights != null">
                weights,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="tittle != null">
                #{tittle,jdbcType=VARCHAR},
            </if>
            <if test="weights != null">
                #{weights,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xu.majiangcommunity.domain.HotArticleExample"
            resultType="java.lang.Long">
        <!--@mbg.generated-->
        select count(*) from hot_article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--@mbg.generated-->
        update hot_article
        <set>
            <if test="record.articleId != null">
                article_id = #{record.articleId,jdbcType=INTEGER},
            </if>
            <if test="record.tittle != null">
                tittle = #{record.tittle,jdbcType=VARCHAR},
            </if>
            <if test="record.weights != null">
                weights = #{record.weights,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--@mbg.generated-->
        update hot_article
        set article_id = #{record.articleId,jdbcType=INTEGER},
        tittle = #{record.tittle,jdbcType=VARCHAR},
        weights = #{record.weights,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <select id="findAllByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag
        where `article_id` in
        <foreach item="item" index="index" collection="nameCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>
