<!DOCTYPE html>
<html lang="en">
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>开发社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/majiang.css">
</head>
<body>
<div th:fragment="copy">
    <div class="container-fluid" align="center">
        <div class="reply-desc">
            关于我们|Investor Relations|联系客服|招聘信息|友情链接|意见反馈|版权保护投诉指引|平台规则|12318全国文化市场举报网站|网上有害信息举报专区|
        </div>
    </div>
</body>
</html>
