<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>开发社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bs.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/majiang.css">
    <script th:inline="javascript">
        $(function () {
            var total = [[${pageResult.total}]];
            var curr = [[${pageResult.pageNum}]];
            var currentUser = [[${currentUser}]];
            var text = '<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
            for (var i = 1; i <= total; i++) {
                if (i == curr) {
                    text += '<li class="active" ><a href="/localUser/hisFocus?page=' + i + 'id=' + currentUser + '" >' + i + '</a></li>';
                } else {
                    text += '<li  ><a href="/localUser/hisFocus?page=' + i + 'id=' + currentUser + '" >' + i + '</a></li>';
                }
            }
            text += '<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
            $("#pagination").html(text);
        })

    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div th:insert="head :: copy"></div>
</nav>
<!--<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">-->
<!--</div>-->
<div class="container-fluid" style="margin: 40px;background-color: white;">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Ta的关注</h2>

            <hr/>
            <hr>
            <div th:if="${pageResult.data!=null}">
                <div class="media" th:each="userView :${pageResult.data}">
                    <div class="media-left">
                        <a th:href="@{/localUser/seeOtherUser(userId=${userView.id},image=${userView.image},username=${userView.username})}">
                            <img class="media-object img-thumbnail head-image"
                                 th:src="${userView.image}">
                            <span style="color: black" th:text="${userView.username}"></span>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination" id="pagination">
                    <!--                                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
                    <!--                                        <li th:class="${page == articles.pageNum}? 'active' :''" th:each="page :${articles.pages}"><a-->
                    <!--                                                th:href="@{/(page=${page},keyWord=${keyWord})}" th:text="${page}"></a></li>-->

                    <!--                                        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div th:insert="footer :: copy"></div>
</nav>

</body>
</html>
