<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>开发社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bs.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/majiang.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link href="dist/pagination.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="dist/pagination.js"></script>
    <style type="text/css">
        ul, li {
            list-style: none;
        }

        #wrapper {
            width: 900px;
            margin: 20px auto;
        }

        .data-container {
            margin-top: 5px;
        }

        .data-container ul {
            padding: 0;
            margin: 0;
        }

        .data-container li {
            margin-bottom: 5px;
            padding: 5px 10px;
            background: #66677c;
            color: #fff;
        }
    </style>
    <script th:inline="javascript">
        $(function () {
            var head = $("#hotRecent");
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: "http://localhost:8080/recentHot",
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data != null && data.code == 200) {
                        var lis = "";
                        var articles = data.data;
                        for (var i = 0; i < articles.length; i++) {
                            var article = articles[i];
                            var path = "/articleDetail?id=" + article.articleId;
                            var li = '<li class="list-group-item" ><a href="' + path + '"><h4>' + article.tittle + '</h4></a></li>';
                            lis += li;
                        }
                        $("#hotRecent").html(lis);
                    }
                }
            });
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: "http://localhost:8080/hotTags",
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data != null) {
                        var tags = data.data;
                        var buts = "";
                        for (var i = 0; i < tags.length; i++) {
                            var tag = tags[i];
                            var but = "<a href='" + tag.url + "'><button class='btn btn-primary' type='button'>" + tag.name + "</button></a>&nbsp;&nbsp;";
                            // var path = "/articleDetail?id=" + article.articleId;
                            // var li = '<li class="list-group-item" ><a href="' + path + '"><h5>' + article.tittle + '</h5></a></li>';
                            // lis += li;
                            buts += but;
                        }
                        $("#hotTags").html(buts);
                    }
                }
            });
        })

    </script>
    <script>
        $(function () {

            function createDemo(name) {
                var container = $('#pagination-' + name);
                var sources = function () {
                    var result = [];

                    for (var i = 1; i < 196; i++) {
                        result.push(i);
                    }

                    return result;
                }();

                var options = {
                    dataSource: sources,
                    className: 'paginationjs-theme-blue',
                    callback: function (response, pagination) {
                        window.console && console.log(response, pagination);

                        var dataHtml = '<ul>';

                        $.each(response, function (index, item) {
                            dataHtml += '<li>' + item + '</li>';
                        });

                        dataHtml += '</ul>';

                        container.prev().html(dataHtml);
                    }
                };

                //$.pagination(container, options);

                container.addHook('beforeInit', function () {
                    window.console && console.log('beforeInit...');
                });
                container.pagination(options);

                container.addHook('beforePageOnClick', function () {
                    window.console && console.log('beforePageOnClick...');
                    //return false
                });

                return container;
            }

            createDemo('demo1');

        });
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div th:insert="head :: copy"></div>
</nav>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
<div class="container-fluid" style="margin: 40px;background-color: white;">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>发现</h2>

            <hr/>
            <h4 style="color: #9d1e15">热门标签:</h4>
            <div id="hotTags">

            </div>
            <div class="media" th:each="article :${articles.data}">
                <div class="media-left">
                    <a th:href="@{/articleDetail(id=${article.id})}">
                        <img class="media-object img-thumbnail head-image"
                             th:src="${article.userImg}">
                    </a>
                </div>
                <div class="media-body" id="test">
                    <a th:href="@{/articleDetail(id=${article.id})}"><h4 class="media-heading"
                                                                         th:text="${article.tittle}"></h4></a>
                    <span th:text="${#strings.abbreviate(article.description,10)}"></span><br>
                    <span class="reply-desc"><span th:text="${article.commentCount}"></span> 个评论 •
                            <span th:text="${article.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(article.gmtCreate, 'yyyy-MM-dd')}"></span></span>
                </div>
                <hr>
            </div>
            <div id="wrapper">
                <section>
                    <div class="data-container"></div>
                    <div id="pagination-demo1"></div>
                </section>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h2 style="margin-left: 50px">热门话题</h2>
            <ul id="hotRecent"></ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div th:insert="footer :: copy"></div>
</nav>

</body>
</html>
