<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>开发社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bs.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/majiang.css">
    <script th:inline="javascript">
        $(function () {
            var total = [[${articles.total}]];
            var curr = [[${articles.pageNum}]];
            var keyWord = [[${keyWord}]];
            var text = '<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
            for (var i = 1; i <= total; i++) {
                if (i == curr) {
                    text += '<li class="active" ><a href="/?page=' + i + '&keyWord=' + keyWord + '" >' + i + '</a></li>';
                } else {
                    text += '<li  ><a href="/?page=' + i + '&keyWord=' + keyWord + '" >' + i + '</a></li>';
                }
            }
            text += '<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
            $("#pagination").html(text);
            var head = $("#hotRecent");
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: "http://localhost:8080/recentHot",
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data != null && data.code == 200) {
                        var lis = "";
                        var articles = data.data;
                        for (var i = 0; i < articles.length; i++) {
                            var article = articles[i];
                            var path = "/articleDetail?id=" + article.articleId;
                            var li = '<li class="list-group-item" ><a href="' + path + '"><h4>' + article.tittle + '</h4></a></li>';
                            lis += li;
                        }
                        $("#hotRecent").html(lis);
                    }
                }
            });
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: "http://localhost:8080/hotTags",
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data != null) {
                        var tags = data.data;
                        var buts = "";
                        for (var i = 0; i < tags.length; i++) {
                            var tag = tags[i];
                            var but = "<a href='" + tag.url + "'><button class='btn btn-primary' type='button'>" + tag.name + "</button></a>&nbsp;&nbsp;";
                            // var path = "/articleDetail?id=" + article.articleId;
                            // var li = '<li class="list-group-item" ><a href="' + path + '"><h5>' + article.tittle + '</h5></a></li>';
                            // lis += li;
                            buts += but;
                        }
                        $("#hotTags").html(buts);
                    }
                }
            });
        })

    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div th:insert="head :: copy"></div>
</nav>
<!--<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">-->
<!--</div>-->
<div class="container-fluid" style="margin: 40px;background-color: white;">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>发现</h2>

            <hr/>
            <h4 style="color: #9d1e15">热门标签:</h4>
            <div id="hotTags">
            </div>
            <hr>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="sort">
                    <li th:class="${sortType == '1'}? 'active' :''"><a
                            th:href="@{/(page=${articles.pageNum},keyWord=${keyWord},sortType=1)}"><span>最新发布</span></a>
                    </li>
                    <li th:class="${sortType == '2'}? 'active' :''"><a
                            th:href="@{/(page=${articles.pageNum},keyWord=${keyWord},sortType=2)}"><span>最多点击</span></a>
                    </li>
                    <li th:class="${sortType == '3'}? 'active' :''"><a
                            th:href="@{/(page=${articles.pageNum},keyWord=${keyWord},sortType=3)}"><span>最多回复</span></a>
                    </li>

                </ul>
            </nav>
            <div class="media" th:each="article :${articles.data}">
                <div class="media-left">
                    <a th:href="@{/localUser/seeOtherUser(username=${article.username},image=${article.userImg},userId=${article.userId})}">
                        <img class="media-object img-thumbnail head-image"
                             th:src="${article.userImg}"><br>
                        <span th:text="${article.username}" style="color: #999999"></span>
                    </a>
                </div>
                <div class="media-body" id="test">
                    <a th:href="@{/articleDetail(id=${article.id})}"><h4 class="media-heading"
                                                                         th:text="${article.tittle}"></h4></a>
                    <span th:text="${#strings.abbreviate(article.description,10)}" style="color: black"></span><br>
                    <span class="reply-desc"><span th:text="${article.commentCount}"></span> 个评论 •
                            <span th:text="${article.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(article.gmtCreate, 'yyyy-MM-dd')}"></span></span>
                </div>
                <hr>
            </div>
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination" id="pagination">
                    <!--                                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
                    <!--                                        <li th:class="${page == articles.pageNum}? 'active' :''" th:each="page :${articles.pages}"><a-->
                    <!--                                                th:href="@{/(page=${page},keyWord=${keyWord})}" th:text="${page}"></a></li>-->

                    <!--                                        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>-->
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h2 style="margin-left: 50px">热门话题</h2>
            <ul id="hotRecent"></ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div th:insert="footer :: copy"></div>
</nav>

</body>
</html>
