<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>我的文章</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/majiang.css">
<!--    <link rel="stylesheet" href="/css/bs.css">-->
</head>
<body>
<nav class="navbar navbar-default">
    <div th:insert="head :: copy"></div>
</nav>
<div class="container-fluid" style="margin: 40px;background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><span
                    th:text="${selection}"></span>
            </h3>
            <hr/>
            <div class="media" th:each="article :${myArticle.data}">
                <div class="media-body">
                    <h4 class="media-heading" th:text="${article.tittle}"></h4>
                    <span th:text="${#strings.abbreviate(article.description,10)}"></span><br>
                    <span class="reply-desc"><span th:text="${article.commentCount}"></span> 个评论 •
                            <span th:text="${article.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(article.gmtCreate, 'yyyy-MM-dd')}"></span></span>
                </div>
                <a th:href="@{/modifiedArticle(id=${article.id})}"> <span class="glyphicon glyphicon-erase"
                                                                          aria-hidden="true">修改</span></a>
                <a th:href="@{/deleteArticle(id=${article.id})}"> <span class="glyphicon glyphicon-trash"
                                                                        aria-hidden="true">删除</span></a>
                <hr>
            </div>
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="${page == myArticle.pageNum}? 'active' :''" th:each="page :${myArticle.pages}"><a
                            th:href="@{/(page=${page})}"
                            th:text="${page}"></a>
                    </li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="list-group">
                <a href="#" class="list-group-item active"
                   th:class="${selection == '我的文章'? 'list-group-item active':'list-group-item'}">
                    <span class="badge" th:text="${myArticle.total}"></span>
                    我的文章
                </a>
                <a th:href="@{/myRound}" class="list-group-item"
                   th:class="${selection == 'newRound'? 'list-group-item active':'list-group-item'}">
                    <span class="badge" sec:authentication="principal.newRound"></span>
                    最新回复</a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div th:insert="footer :: copy"></div>
</nav>

</body>
</html>
